.slider::before,
.slider::after {
  content: "";
  background: linear-gradient(90deg, #181818 0%, #181818 100%);
  filter: blur(30px);
  pointer-events: none;
  @apply z-10 block absolute top-1/2 md:w-[144px] w-[92px] h-[288px] -translate-y-1/2;
}

.slider::before {
  left: 0;
  @apply md:-translate-x-1/2 -translate-x-3/4;
}

.slider::after {
  right: 0;
  @apply md:translate-x-1/2 translate-x-3/4;
}
