.about {
  overflow: hidden;
  position: relative;
}

.about::before {
  content: "";
  display: block;
  height: 460px;
  width: 1130px;
  max-width: 116.8%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 50%, 0);
  background-image: linear-gradient(180deg, #3b2e00 30%, #ffca0a 100%);
  filter: blur(152.5px);
}
