.tag,
.tagGold {
  position: relative;
  padding: 1px;
}

.content {
  display: block;
  position: relative;
  background-image: radial-gradient(
    24.5% 81.11% at 50.34% 0%,
    rgba(96, 94, 87, 1) 0%,
    rgba(32, 32, 28, 1) 100%
  );
  z-index: 10;
  border-radius: 1rem;
}

.tag::after {
  content: "";
  display: block;
  background-image: radial-gradient(
    24.5% 81.11% at 50.34% 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(82, 82, 82, 1) 100%
  );
  position: absolute;
  inset: 0;
  border-radius: 1rem;
}

.tagGold::after {
  content: "";
  display: block;
  background-image: radial-gradient(
    24.5% 81.11% at 50.34% 0%,
    #ffca0a 0%,
    #4e3d00 100%
  );
  position: absolute;
  inset: 0;
  border-radius: 1rem;
}

.contentGold {
  display: block;
  position: relative;
  background-image: radial-gradient(
    24.5% 81.11% at 50.34% 0%,
    rgba(74, 62, 8, 1) 0%,
    rgba(32, 28, 14, 1) 100%
  );
  z-index: 10;
  border-radius: 1rem;
}
