@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #181818;
  --secondary-background: #1a1a1a;
  --foreground: #fff;
  --accent: #00896f;
  --secondary: #ffca0a;
  --check: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --secondary-background: #1a1a1a;
    --foreground: #fff;
    --accent: #00896f;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-gilroy);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-standart {
    @apply text-xl;
  }
  .gradient-text {
    background: linear-gradient(
        172.72deg,
        #fff063 5.64%,
        #ffea5b 14.83%,
        #ffaa04 113.72%
      ),
      #ffffff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container {
    @apply max-w-[1180px];
  }

  .bg-overlay {
    @apply bg-[#202020];
  }
}

/* swiper */
:root {
  --swiper-pagination-bottom: 1.75rem;
}

.full-page {
  @apply flex flex-wrap flex-col items-start min-h-screen;
}

.full-page > * {
  @apply w-full;
}

.full-page > footer {
  @apply mt-auto;
}
